.blocpag {

    h3 {
        text-align: center;
    }
    .menu {
        padding: 0 0 1rem;
        display: flex;
        list-style-type: none;
        justify-content: space-around;

    }
}

.pageatelier {
    div {
        display: flex;
        align-self: center;
    }
}