.blocpag {

    h3 {
        text-align: center;
    }
    .menu {
        padding: 0 0 1rem;
        display: flex;
        list-style-type: none;
        justify-content: space-around;

    }
}

.pageatelier {
    div {
        display: flex;
        justify-content: center;

        table {        
            margin: 2rem auto;    
            border-collapse: collapse;
        }

        th, td {
            border: thin solid black;
            padding: .5rem 1rem;
        }

        td {
            text-align: center;
        }
    }
}