body {
    background-color: #fef6e4;
    color:#001858;
    margin: 0 1rem;

    a {
        text-decoration: none;
        color: #001858;
    }

    article {
        background-color: #f3d2c1;
        padding: .2em 1em;
        border: .4rem ridge #8bd3dd;
        border-radius: .6rem;
        box-shadow: .2em .2em 6px #172c66, .2em .2em 8px #f582ae;
    }

    hr {
        margin: 2rem 0;
        color: #172c66;
    }

    .e404 {
        display: flex;
        flex-direction: column;
        align-items: center;

        * {
            size: 4rem;
        }
    }
}

.main-accueil {
    a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h3 {
        font-size: clamp(1.1rem, 0.7864rem + 0.7433vw, 1.5rem);
    }
    
    h4 {
        color: #172c66;
        font-size: clamp(0.9rem, 0.853rem + 0.1115vw, 0.96rem);
    }

    p {
        font-size: clamp(1.2rem, 1.1216rem + 0.1858vw, 1.3rem);
    }
    
    .main-accueil hr {
        border-color: #8bd3dd;
        border-style: double;
        border-width: medium;
    }
}

.category {
    article h5 { 
        animation: none;
    }

    article:hover h5 {
        animation: jello;
        animation-duration: 1s;
    }
    
    * {
        margin: .5rem 0;
    }

    h6:last-of-type {
        margin: 2rem 0 0;
    }

    .cat4w4 {
        margin: 2rem 0 0;
    }
}

.contenuFoot {
    font-family: 'Courier New', Courier, monospace;
    a {
        font-family: 'Courier New', Courier, monospace;
        font-weight: bolder;
    }
}
