body {
    background-color: #fef6e4;
    color: #001858;
    margin: 0 1rem;

    a {
        text-decoration: none;
        color: #001858;
    }

    article {
        background-color: #f3d2c1;
        margin-bottom: 2rem;
        padding: .2em 1em;
        border: .4rem ridge #8bd3dd;
        border-radius: .6rem;
        box-shadow: .2em .2em 6px #172c66, .2em .2em 8px #f582ae;
    }

    hr {
        margin: 2rem 0;
        color: #172c66;
    }

    .e404 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;

        * {
            size: 4rem;
        }
    }
}

.main-accueil {
    a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h3 {
        font-size: clamp(1.1rem, 0.7864rem + 0.7433vw, 1.5rem);
    }

    h4 {
        color: #172c66;
        font-size: clamp(0.9rem, 0.853rem + 0.1115vw, 0.96rem);
    }

    .main-accueil hr {
        border-color: #8bd3dd;
        border-style: double;
        border-width: medium;
    }
}

.category-cont {
    display: grid;
    column-gap: 1rem;
    grid-template-areas: 'mn mn sd';
    justify-content: space-between;
}

.category {
    grid-area: mn;

    article {
        padding: 1rem 1rem;
    }

    article h5 {
        animation: none;
    }

    article:hover h5 {
        animation: jello;
        animation-duration: 1s;
    }

    * {
        margin: .5rem 0;
    }

    h6:last-of-type {
        margin: 2rem 0 0;
    }

    .cat4w4 {
        margin: 2rem 0 0;
    }
}

.menu-sec {
    grid-area: sd;

    li {
        list-style-type: none;
        margin: 1rem 0;
    }

    a:hover {
        color: #8bd3dd;
    }
}

.contenuFoot {
    font-family: 'Courier New', Courier, monospace;

    a {
        font-family: 'Courier New', Courier, monospace;
        font-weight: bolder;
    }
}

@media screen and (max-width: 580px) {
    body {
        hr {
            margin: .2rem 0;
        }
    }

    .category-cont {
        column-gap: 0rem;
        justify-content: center;
    }
    
}
@media screen and (max-width: 768px) {

    .blocflex__galerie,
    .menu-sec {
        display: none;
    }
}