.site__titre{
    text-decoration: none;
}

.site__entete {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.entete__gauche {
    display: flex;
    align-items: center;
}

.custom-logo {
    max-width: 90%;
    height: auto;
    border-radius: 5%;
}

.titre__slogan {
    display: flex;
    flex-direction: column;
}

.titre__slogan * {
    margin: 0;
}

.titre__slogan h2 {
    font-size: 1.7em;
}

.menu {
    list-style-type: none;
    display: flex;
    column-gap: 1rem;
    font-size: 1.3em;
    font-weight: bold;
}

.menu *:hover, .site__titre h1:hover {
    color: #f582ae;
}

body {
    background-color: #fef6e4;
    color:#001858;
    margin: 0 1rem;
}

h1 {
    font-size: clamp(1rem, 0.3864rem + 2.4545vw, 4.375rem);

}

article {
    background-color: #f3d2c1;
}

a {
    text-decoration: none;
    color: #001858;
}

h4 {
    color: #172c66;
}

hr {
    border-color: #8bd3dd;
    border-style: dashed;
}