.main-article {
    margin-top: 2rem;

    article{
        padding: .5rem 3rem 3rem;
    }

    h1 {
        font-size: 3rem;
        text-align: center;
        text-decoration: overline;
    }

    h2 {
        margin-left: 1rem;
    }

    h3 {
        font-size: clamp(1rem, 0.7801rem + 0.8541vw, 1.6rem);
        margin-left: 1.2rem;
    }

    hr {
        border: .4rem dotted #172c66;
        margin-top: 4rem;
    }

    ul {
        list-style-type: square;
    }

    li {
        //créer le clamp
        font-size: 1.5rem;
        margin-bottom: .3rem;

        ul, ol {
            margin-top: .5rem;

            li {
                font-size: 1.4rem;
            }
        }
    }

    pre {
        overflow-x: auto;
        color: #fef6e4;
        background-color: #172c66;
        padding: 1rem;
        margin: 0 1.5rem;
    
    }
}



code {

}

strong {

}